
<%= simple_form_for(@spot)  do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" >
    <%= f.input :comment, as: :text, input_html: { class: "new-text" } %>
    <%= f.input :category, collection: ["Works", "Damage road", "Dangerous junction", "Accident"], class: "new-text"%>
    <%= f.input :location, placeholder: 'Location', class: "new-text" , input_html: { "data-target" => "geolocalisation.input" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
