<h2>REPORT</h2>

<div class="spot">
      <div class="photo-position">
      <% if spot.photo.attached? %>
        <%= cl_image_tag spot.photo.key, crop: :fill, class: "photo-fit-card" %>
      <% end %>
      </div>

      <div id="<%= dom_id spot %>", class= "spot-container">

        <p>
          <div class="spot-title">Description</div>
          <div class="spot-box"><%= spot.comment %></div>
        </p>

        <p>
          <div class="spot-title">Category</div>
          <div class="spot-box"><%= spot.category %></div>
        </p>

        <p>
          <div class="spot-title">Location</div>
          <div class="spot-box"><%= spot.location %></div>
        </p>

      </div>
</div>
