<div id="<%= dom_id spot %>">
  <p>
    <strong>Comment:</strong>
    <%= spot.comment %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= spot.category %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= spot.location %>
  </p>

  <p>
    <strong>Acitve:</strong>
    <%= spot.active %>
  </p>

  <p>
    <strong>User:</strong>
    <%= spot.user.username %>
  </p>
  <strong>Photo:</strong>
  <p>
  <% if spot.photo.attached? %>
    <%= cl_image_tag spot.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  </p>
</div>
