<div class="form-block">
  <div class="form-container">
    <div id="<%= dom_id spot %>">
      <p>
        <strong>Comment:</strong>
        <%= spot.comment %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= spot.category %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= spot.location %>
      </p>
      <div><strong>Photo:</strong></div>
      <p>
      <% if spot.photo.attached? %>
        <%= cl_image_tag spot.photo.key, height: 300, crop: :fill, class: "crash-picture" %>
      <% end %>
      </p>
    </div>
  </div>
</div>
