<div id="<%= dom_id spot %>">
  <p>
    <strong>Comment:</strong>
    <%= spot.comment %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= spot.category %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= spot.location %>
  </p>

  <p>
    <strong>Acitve:</strong>
    <%= spot.active %>
  </p>

  <p>
    <strong>User:</strong>
    <%= spot.user.username %>
  </p>

</div>
