  <div class="spots-page">
    <%=render "shared/map"%>

  </div>
      <%# <%= render "legend" %>
  <div style="position: absolute; z-index: 1; top: 185px; left: 55px;">
    <%= link_to "REPORT", new_spot_path, class: "new-spot-button"%>
  </div>
   <div style="position: absolute; z-index: 15; top: 185px; left: 55px;  height:auto; width: 200px; background-color: red;">
    <div data-controller=newaddress>
        <%= render "form", spot: @spot %>
    </div>
   </div>

  <div id="btn-near" style="position: absolute; z-index: 10; top: 185px; right: 55px; cursor:pointer " data-controller="nearme">
    <p class="new-spot-button open-close" style="font-size: 15px" data-action="click->nearme#toggleClass"> NEAR ME</p>
    <%= render "spot_near" %>
  </div>
  
  <div class="footer">
    <div class="footer-content">
      <ul class="footer-list-left">
        <%date = Date.today%>
        <li class="footer-text">©<%= date.year  %>, ChillWheel</li>
        <li><%= link_to "About", "#", class: "footer-link" %></li>
        <li><%= link_to "Privacy", "https://ec.europa.eu/info/law/law-topic/data-protection_en", target: "_blank", class: "footer-link" %></li>
        <li><%= link_to "Terms",  "https://www.commissioner.brussels/en/i-am-an-expat/housing/82-housing/104-signing-a-lease", target: "_blank", class: "footer-link" %></li>
      </ul>
      <ul class="footer-list-right">
        <li class="footer-counter-text"><p>TOTAL CRASHES:</p></li>
        <li class="footer-counter-number-crash"><%= @accident_count %></li>
        <li class="footer-counter-text"><p>TOTAL THEFTS:</p></li>
        <li class="footer-counter-number-theft"><%= @stolen_bike_count %></li>
      </ul>
    </div>
  </div>
</div>

