
<%= render "shared/map" %>

<div id="spots" >
  <% @spots.each do |spot| %>
    <%= render spot %>
    <p>
      <%= link_to "Show this spot", spot %>
    </p>
  <% end %>
</div>


<%= link_to "New spot", new_spot_path %>
<%# <%= link_to_remote “Create Post”, :url => {:controller=>‘map_controller’, :action =>‘new’},  :method => :get, :with =>“getParams();” %> %>
