  <div class="spots-page">
    <div style="width: 100%; height: 100vh;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      
    </div>
  </div>
  <%= render "spot_near" %>
      <%= render "legend" %>
  <div style="position: absolute; z-index: 1; top: 185px; left: 55px;">
    <%= link_to "REPORT", new_spot_path, class: "new-spot-button"%>
  </div>

  <div id="btn-near" style="position: absolute; z-index: 10; top: 185px; right: 55px; cursor:pointer">
    <p class="new-spot-button open-close" style="font-size: 14px"> Near Me</p>
  </div>

 
<script>
      const btnNear = document.querySelector("#btn-near"),
        spotNear = document.querySelector(".spot-near"),
        close = document.querySelector("#close"),
        child = document.querySelector(".open-close")
      btnNear.addEventListener("click", ()=>{
        if (spotNear.classList.contains("active")) {
          console.log('close')
         child.innerText = "Near Me"
        } else {
          child.innerText = "Close"
        }
        spotNear.classList.toggle("active")
      }) 
  </script>
