<div class="body-container">
    <div class="form-block">
      <div class="form-container">

        <div class="spots">
          <%= render @spot %>
        </div>

        <div class="form-link">
          <div><%= link_to "EDIT REPORT", edit_spot_path(@spot), class:"form-link-text" %></div>
          <div><%= link_to "DESTROY REPORT", @spot, method: :delete, class:"form-link-text" %></div>
          <br>
          <div><%= link_to "BACK TO MAP", spots_path, class:"form-link-text" %></div>
        </div>

      </div>
      <div>
        <%= render "comments/new"%>
      </div>
      <div>
        <%= render "comments/comments" %>
      </div>
    </div>
</div>
