<div class="background">

  <div class="stolenbikes-title">
    <p>STOLEN BIKES LIST</p>
  </div>

  <div class="stolen-bike-container">

      <% @spots.each do |spot| %>
        <div class="stolen-bike-cards">

        <%#= link_to spot_path(spot) do %>
          <% if spot.photo.attached? %>
            <%= cl_image_tag spot.photo.key, crop: :fill, class: "photo-fit-card-2" %>
          <% end %>

          <p class="stolen-bike-text">Location:</p>
          <div class= "text-margin"><%=spot.location %></div>
          <p class="stolen-bike-text">Comment:</p>
          <ul>
            <% spot.comments.last(3).each do |comment| %>
            <% avatar = comment.user %>
            <li class="comment-list"> <p class= "comment-content"><%= comment.content%></p><p class= "comment-username"><%= comment.user.username %></p>
              <%# <div id="avatar-position"> %>
              <%# if avatar.photo.attached? %>
                <%# cl_image_tag avatar.photo.key, height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <%# else%>
                  <%# image_tag "https://img.icons8.com/ios-filled/512/gender-neutral-user.png", height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <%# end%>
              <%# </div> %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %>
  </div>



  <div class="backtomap">
    <%= link_to "BACK TO MAP", spots_path, class:"backtomap-text" %>
  </div>

</div>

  <div class="footer">
      <div class="footer-content">
        <ul class="footer-list-left">
          <%date = Date.today%>
          <li class="footer-text">©<%= date.year  %>, ChillWheel</li>
          <li><%= link_to "About", "#", class: "footer-link" %></li>
          <li><%= link_to "Privacy", "https://ec.europa.eu/info/law/law-topic/data-protection_en", target: "_blank", class: "footer-link" %></li>
          <li><%= link_to "Terms",  "https://www.commissioner.brussels/en/i-am-an-expat/housing/82-housing/104-signing-a-lease", target: "_blank", class: "footer-link" %></li>
        </ul>
      </div>
    </div>
