<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start point:</strong>
    <%= event.start_point %>
  </p>

  <p>
    <strong>End point:</strong>
    <%= event.end_point %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= event.difficulty %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

</div>
