<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chillwheel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- mapbox-->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    
    <%= yield %>

  <script>
      const btnNear = document.querySelector("#btn-near"),
        spotNear = document.querySelector(".spot-near"),
        close = document.querySelector("#close"),
        child = document.querySelector(".open-close")
      btnNear.addEventListener("click", ()=>{
        if (spotNear.classList.contains("active")) {
          console.log('close')
         child.innerText = "Near Me"
        } else {
          child.innerText = "Close"
        }
        spotNear.classList.toggle("active")
      })
     
    </script>
  </body>
</html>
